---
import { aboutMeData } from '../../constants/about';
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import WhatIDo from '../WhatIDo';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<main class='h-full w-2/3'>
	<h1 class='ml-3 mt-3 text-4xl font-bold'>{t('about.title')}</h1>
	<div class='flex w-full flex-col justify-center md:flex-row'>
		<div class='m-4 ml-8 flex w-11/12 items-center justify-center md:w-8/12'>
			<p>{aboutMeData[lang].about}</p>
		</div>
		<div class='m-4 self-center text-nowrap md:m-6 lg:w-4/12'>
			<ul>
				<li class='text-sm md:mb-3'>
					<strong>Birthday: </strong>
					{aboutMeData[lang].birthday}
				</li>
				<li class='text-sm md:mb-3'>
					<strong>Residence: </strong>
					{aboutMeData[lang].residence}
				</li>
				<li class='text-sm md:mb-3'>
					<strong>Phone: </strong>
					{aboutMeData[lang].phone}
				</li>
				<li class='text-sm md:mb-3'>
					<strong>Email: </strong>
					{aboutMeData[lang].email}
				</li>
			</ul>
		</div>
	</div>
	<div>
		<h2 class='text-dark-green ml-8 mt-4 text-2xl font-semibold'>
			{t('about.whatIDo')}
		</h2>
		<div
			class='text-dark-white flex w-full flex-col items-center justify-center md:flex-row md:justify-around'
		>
			<WhatIDo data={aboutMeData[lang].whatIDo} />
		</div>
	</div>
</main>
