---
import { certificatesData } from '../../constants/certificates';
import { formationData } from '../../constants/formation';
import { skillsData } from '../../constants/skills';
import { workExpData } from '../../constants/workExp';
import { getLangFromUrl, useTranslations } from '../../utils/utils';
import CertificateCard from '../CertificateCard.astro';
import Experience from '../Experience.astro';
import OtherCertificates from '../OtherCertificates.astro';
import Skill from '../Skill.astro';
import Header2 from './Header2.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const skillNames: (
	| 'database'
	| 'programming'
	| 'backend'
	| 'frontend'
	| 'styling'
	| 'tool'
)[] = ['database', 'programming', 'backend', 'frontend', 'styling', 'tool'];
const firstFour = certificatesData.slice(0, 4);
const theRest = certificatesData.slice(4);
---

<>
	<h1 class='text-dark-white ml-3 mt-3 text-4xl font-bold'>
		{t('resume.title')}
	</h1>
	<Experience
		title={t('resume.work.title')}
		lang={lang}
		experience={workExpData[lang]}
	/>
	<Experience
		title={t('resume.formation.title')}
		lang={lang}
		experience={formationData[lang]}
	/>
	<div class='w-full'>
		<Header2>
			{t('resume.skill.title')}
		</Header2>
		<section class='flex w-full flex-col'>
			<div
				class='mt-2 flex w-full flex-row flex-wrap items-center justify-center text-center'
			>
				{
					skillNames.map((skill) => (
						<Skill skill={skillsData[skill as keyof typeof skillsData]} />
					))
				}
			</div>
		</section>
	</div>
	<div class='h-max w-full'>
		<Header2>
			{t('resume.certificate.title')}
		</Header2>
		<CertificateCard certificates={firstFour} />
	</div>
	<div class='h-max w-full'>
		<Header2>
			{t('resume.otherCertificate.title')}
		</Header2>
		<OtherCertificates certificates={theRest} />
	</div>
</>
